{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>V.T.A Chatbot Page</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'vta_assets/css/index.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home/">
          Welcome, <strong>{{user.person_name}}!</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            {% if user.is_faculty %}
            <a class="nav-item nav-link" href="/home/quizpaper/"
              >Add Questions</a
            >
            {% endif %}
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div id="chat-circle" class="btn btn-raised">
      <div id="chat-overlay"></div>
      <i class="bi bi-robot"></i>
    </div>

    <section class="avenue-messenger">
      <div class="menu">
        <span
          class="bi bi-x-circle extra_button close_btn chat-box-toggle"
        ></span>
        <span
          class="bi bi-volume-mute-fill extra_button sound_btn"
          data-attr="mute"
        ></span>
      </div>
      <div class="agent-face">
        <div class="half">
          <img
            class="agent circle"
            src="{% static 'vta_assets/img/profile_img.jpg' %}"
            alt="Jesse Tino"
          />
        </div>
      </div>
      <div class="chat">
        <div class="chat-title">
          <h1>{{user.person_name}}</h1>
          <h2>4th year</h2>
        </div>
        <div class="messages">
          <div class="messages-content"></div>
        </div>
        <div class="message-box">
          <textarea
            type="text"
            class="message-input"
            placeholder="Type message..."
          ></textarea>
          {% csrf_token %}
          <button
            type="submit"
            id="message-submit-id"
            class="message-submit send-mic send-btn"
          >
            Send
          </button>
          <button
            type="button"
            class="bi bi-mic-mute-fill send-mic mic-btn"
            id="mic_id"
          ></button>
        </div>
      </div>
    </section>
    <script type="text/javascript">
      $(function () {
        $("#chat-circle").click(function () {
          $("#chat-circle").toggle("scale");
          $(".avenue-messenger").toggle("scale");
        });

        $(".chat-box-toggle").click(function () {
          $("#chat-circle").toggle("scale");
          $(".avenue-messenger").toggle("scale");
        });
      });
    </script>
    <script type="text/javascript">
      var $messages = $(".messages-content"),
        d,
        h,
        m,
        i = 0;

      $(window).load(function () {
        $messages.mCustomScrollbar();
        setTimeout(function () {
          fakeMessage("Hi there, I'm Lilly and you?");
        }, 100);
      });

      function updateScrollbar() {
        $messages
          .mCustomScrollbar("update")
          .mCustomScrollbar("scrollTo", "bottom", {
            scrollInertia: 10,
            timeout: 0,
          });
      }

      function setDate() {
        d = new Date();
        if (m != d.getMinutes()) {
          m = d.getMinutes();
          $(
            '<div class="timestamp">' + d.getHours() + ":" + m + "</div>"
          ).appendTo($(".message:last"));
          $('<div class="checkmark-sent-delivered">&check;</div>').appendTo(
            $(".message:last")
          );
          $('<div class="checkmark-read">&check;</div>').appendTo(
            $(".message:last")
          );
        }
      }
      // mute or unmute
      $(".sound_btn").click(function () {
        if ($(".sound_btn").hasClass("bi-volume-up-fill")) {
          $(".sound_btn").removeClass("bi-volume-up-fill");
          $(".sound_btn").addClass("bi-volume-mute-fill");
          $(".sound_btn").attr("data-attr", "mute");
        } else if ($(".sound_btn").hasClass("bi-volume-mute-fill")) {
          $(".sound_btn").removeClass("bi-volume-mute-fill");
          $(".sound_btn").addClass("bi-volume-up-fill");
          $(".sound_btn").attr("data-attr", "unmute");
        }
      });
      function insertMessage() {
        msg = $(".message-input").val();
        soundstatus = $(".sound_btn").attr("data-attr");
        if ($.trim(msg) == "") {
          return false;
        }
        $('<div class="message message-personal">' + msg + "</div>")
          .appendTo($(".mCSB_container"))
          .addClass("new");
        setDate();
        $(".message-input").val(null);
        updateScrollbar();
        setTimeout(function () {
          console.log(msg);
          $.ajax({
            type: "POST",
            url: "/ai/",
            data: {
              input_msg: msg,
              soundstatus: soundstatus,
              csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function (data) {
              console.log(data);
              fakeMessage(data);
            },
            error: function (data) {
              console.log(data);
              fakeMessage("Something wrong");
            },
          });
        }, 1000 + Math.random() * 20 * 100);
      }

      $(".message-submit").click(function () {
        insertMessage();
      });
      $("#mic_id").click(function () {
        var speech;
        if ($("#mic_id").hasClass("bi-mic-fill")) {
          $("#mic_id").removeClass("bi-mic-fill");
          $("#mic_id").addClass("bi-mic-mute-fill");
        } else if ($("#mic_id").hasClass("bi-mic-mute-fill")) {
          $("#mic_id").removeClass("bi-mic-mute-fill");
          $("#mic_id").addClass("bi-mic-fill");
          speech = "1";
          $.ajax({
            type: "POST",
            url: "/speechToText/",
            data: {
              speech: speech,
              csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function (data) {
              if (data == "1") {
                fakeMessage(
                  "I didn't understand what you are saying, can you please say it again!"
                );
              } else {
                $(".message-input").val(data);
                insertMessage();
              }
              $("#mic_id").click();
            },
            error: function (data) {
              console.log(data);
              fakeMessage("Something wrong");
            },
          });
        }
      });

      $(window).on("keydown", function (e) {
        if (e.which == 13) {
          insertMessage();
          return false;
        }
      });

      function fakeMessage(reply) {
        if ($(".message-input").val() != "") {
          return false;
        }
        $(
          '<div class="message loading new"><figure class="avatar"><img src="http://askavenue.com/img/17.jpg" /></figure><span></span></div>'
        ).appendTo($(".mCSB_container"));
        updateScrollbar();

        setTimeout(function () {
          $(".message.loading").remove();
          $(
            '<div class="message new"><figure class="avatar"><img src="http://askavenue.com/img/17.jpg" /></figure>' +
              reply +
              "</div>"
          )
            .appendTo($(".mCSB_container"))
            .addClass("new");
          setDate();
          updateScrollbar();
          i++;
        }, 1000 + Math.random() * 20 * 100);
      }
    </script>
  </body>
</html>
