*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(225, 235, 243);
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

